* {
    box-sizing: border-box;
}

  .ui-menu { 
    width: 30%; 
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin-right: 20em;
}
#menu {
  list-style: none;
  text-decoration: none;
  font-family: 'Architects Daughter', Verdana, cursive;
}

#restaurantImage {
  margin: auto;
  position: relative;
  width: 35em;
  height: 20em;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#restaurantImage > img {
  max-width: 100%;
  max-height: 100%;
}
#slideshow {
  margin:80px auto;
  position: relative;
  width: 29em;
  height: 20em;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow > div > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
/* Clear floats  */
.row:after {
  content: "";
  display: table;
  clear: both;
}

