* {
    box-sizing: border-box;
}
body {
  font-family: 'Architects Daughter', Verdana, cursive;
}

  .ui-menu { 
    width: 30%; 
    font-size: 3em;
    font-weight: bold;
    float: left;
    font-family: 'Architects Daughter', Verdana, cursive;
}
#menu {
  list-style: none;
  text-decoration: none;
}

#restaurantImage {
  margin: auto;
  position: relative;
  width: 33em;
  height: 22em;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#restaurantImage > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#restaurantImage > img {
  max-width: 100%;
  max-height: 100%;
}
#slideshow {
  margin:50px auto;
  position: relative;
  width: 33em;
  height: 25em;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow > div > img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
/* Clear floats  */
#tophalf:after {
  content: "";
  display: table;
  clear: both;
}
table, tr, td {
  border-collapse: collapse;
}
tr, td {
  padding: 5px;
  font-size: 1.25em;
  text-align: left;    
}
#tophalf > iframe {
  float: right;
  margin-right: 300px;
}
#reservationForm > h1 {
  text-align: center;
  font-size: 3em;
}
#reservationForm > iframe {
  margin-left: 440px;
}
